<f:view xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form>
        <h1><h:outputText value="Lista de Funcionarios"/></h1>
        <p:dataTable var="funcionario" value="#{funcionarioMBean.listaFuncionarios}">
            <p:column headerText="Id">
                <h:outputText value="#{funcionario.id_funcionario}" />
            </p:column>
            <p:column headerText="Nome">
                <h:outputText value="#{funcionario.nome}" /> 
            </p:column>
            <p:column headerText="CPF">
                <h:outputText value="#{funcionario.cpf}" />
            </p:column>
        </p:dataTable>
    </h:form>
</f:view>